{% extends '::base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-3">
            {% if error is not null and error.message == 'Bad credentials' %}
            <div>
                <span id='error-login' class='text-danger'>{{ 'label.bad.credentials'|trans|desc('Bad credentials') }}</span>
            </div>
            {% endif %}

            {% if app.user %}
            <div class="form-group">
                {% if serversUse|length > 0 %}
                <form role="form" action="game" method="post">
                    <label for="name">{{ 'label.form.servers.semicolon'|trans|desc('Servers: ') }}</label>
                    <select id='server-name' name='name' class='form-control'>
                        {% for serverName in serversUse %}
                        <option>{{ serverName }}</option>
                        {% endfor %}
{#                        Server de tests #}
                        <option>Game</option>
                    </select>

                    <input type="hidden" name="_token" value="{{ csrf_token('server') }}">
                    <button id="submitServer" class='btn-primary btn-play'type='submit'>{{ 'label.play'|trans|desc('Play') }}</button>
                </form>
                {% endif %}
                <form role="form" action="start_game" method="post">
                    <label for="name">{{ 'label.form.servers.enable.semicolon'|trans|desc('Servers available: ') }}</label>
                    <select id='server-name' name='name' class='form-control'>
                        {% for serverName in servers %}
                        <option>{{ serverName }}</option>
                        {% endfor %}
                    </select>

                    <input type="hidden" name="_token" value="{{ csrf_token('server') }}">
                    <button id="submitServerAvailable" class='btn-primary btn-play'type='submit'>{{ 'label.play'|trans|desc('Play') }}</button>
                </form>
            </div>
             {% else %}
            <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'label.form.login'|trans|desc('Login: ') }}</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'label.form.password'|trans|desc('Password: ') }}</label>
                    <input type="password" class="form-control" id="password" name="_password" />
                </div>

                <input id="submitLogin" type="submit" value="Connexion" />
            </form>

            <form role="form" action="{{ path('register') }}" method="post">
                <input id="register" class="pull-right" type="submit" value="{{ 'label.register'|trans|desc('Register') }}" />
            </form>
             {% endif %}
        </div>

        <div class="col-xs-6"></div>
        {% if app.user %}
        <div class="col-xs-3">
            <div class="form-group">
                <form role="form" action="{{ path('fos_user_security_logout') }}" method="get">
                    <button class='btn-warning' type="submit">Déconnection</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function() {
        $('#register-form-content').hide();
        
        $('#register').click(function() {
            $('#register-form').hide();
            $('#register-form-content').show();
        });
    });
    </script>
{% endblock %}
